html {
    height: 100%;
    width: 100%;
    body {background-color: #969094;}
   }

   body{
    border:solid;
    border-radius: 10px;
    border-color:deeppink;
    border-width:10px;
  } 

.container {
    max-width: 500px;
    margin: auto;
    text-align: center;
    padding: 20px;
    background-color:  rgba(112, 86, 243, 0.5);; 
    border-radius: 10px;
    box-shadow: 0 0 100px rgba(163, 1, 196, 0.3); 
    margin-top: 45px; 
    margin-bottom: 45px; 
  }
 
  
  h1 { 
    font-family: cursive;
    font-size: 75px;
    color: purple;
    margin: auto;
    max-width: 100%;
    margin-bottom: 35px;
    margin-top: 35px;
  }

  #city{
    font-size: 45px;
    font-family: cursive;
    margin-bottom: 35px;
    margin-top: 35px;
  }

  #location{
    color:white;
    font-size: 45px;
    font-family: cursive;
    margin-bottom: 35px;
    margin-top: 35px;
  }
  
  #temperature{
    color: blue;
    font-size: 45px;
    font-family: cursive;
    margin-bottom: 35px;
    margin-top: 35px;
  }
  
  #description{
    font-size: 45px;
    font-family: cursive;
    margin-bottom: 35px;
    margin-top: 35px;
  }
  
  #speed{
    color: gold;
    margin-bottom: 35px;
    margin-top: 35px;
    font-size: 45px; 
  }
  
  #gust{
    font-weight: bold;
    font-size: 45px;
    color: black;
    margin-bottom: 35px;
    margin-top: 35px;
    
  }
 
  input[type="text"] {
    width: 50%;
    padding: 5px;
    margin: 3px;
    border: 3px solid #a2f888;
    border-radius: 5px;
    max-width: 100%;
}

button {
  max-width: 100%;
  background-color: #0fbff5;
  color: #2d0ceb;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
}

#searchButton{
  padding: 5px;
  margin: 3px;
  border-radius: 5px;
  max-width: 100%;
  font: center;
}

.weather-info {
  margin-top: 30px;
  font-size: 55px;
  
}

footer{
  font-weight: bold;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  margin-top: 50px;
}


